:root{
    --primary: rgb(197, 3, 45);
} 

body{
    font-family: 'Oswald', sans-serif;
}

.text-primary{
    color: var(--primary)!important;
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover{
    background-color: rgba(197, 3, 45, 0.534)!important;
    border-color: rgba(197, 3, 45, 0.534)!important;
    color: black;
}

.bg-primary{
    background-color: var(--primary)!important;
}

.content{
    max-width: 500px;
}

.container-fluid a{
    color: white !important;
}
